<mat-card style="background-color: #E8EAF6">
  <mat-card-header fxLayout fxLayoutAlign="center">
    <mat-card-title>
      <mat-icon>person_outline</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="submitHandler()">
    <div class="login-border">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="You E-Mail Here">
        <mat-error
          *ngIf="loginForm.get('email').hasError('required')&&loginForm.get('email').touched"
        >Please provide a email !
        </mat-error>
        <mat-error
          *ngIf="loginForm.get('email').hasError('email')&&loginForm.get('email').touched"
        >Please provide a valid email !
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="You Password Here">
        <mat-error
          *ngIf="loginForm.get('password').hasError('required')&&loginForm.get('password').touched"
        >Please provide a password !
        </mat-error>
        <mat-error
          *ngIf="loginForm.get('password').hasError('minlength')&&loginForm.get('password').touched"
        >The password must have at least 8 characters !
        </mat-error>
      </mat-form-field>
    </div>

    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-stroked-button type="submit" color="primary" [disabled]="loginForm.invalid">Log In</button>
    </mat-card-actions>
  </form>
</mat-card>
