mat-card {
  max-width: 500px;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

mat-form-field, textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.create-border {
  border: 3px solid #C5CAE9;
  border-radius: 5px;
  padding: 18px 25px 25px 20px;
}
