<mat-card style="background-color: #E8EAF6">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header fxLayout fxLayoutAlign="center">
    <mat-card-title>
      {{this.editMode ? 'Update Post' : 'Add A Post' }}
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <mat-card-content class="create-border">
      <mat-form-field>
        <input matInput type="text" placeholder="Title here" formControlName="title">
        <mat-error
          *ngIf="postForm.get('title').hasError('required')&&postForm.get('title').touched"
        >The title is required !
        </mat-error>
        <mat-error
          *ngIf="postForm.get('title').hasError('minlength')&&postForm.get('title').touched"
        >The title must have at least 6 characters !
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput matTextareaAutosize type="text" placeholder="Post text here"
                  formControlName="content"></textarea>
      </mat-form-field>

      <mat-card
        style="margin-bottom: 10px"
        *ngIf="imgPreview&&postForm.get('image').valid||editMode">
        <img
          mat-card-image
          [src]="imgPreview||editedPost.imagePath"
          [alt]="postForm.get('title').value||'empty'">
        <mat-card-actions>
          <button style="color: red" mat-icon-button matTooltip="Delete image">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <div>
        <button
          mat-stroked-button
          type="button"
          matTooltip="Select an image"
          (click)="imgPicker.click()">Pick Image
        </button>
        <input type="file" #imgPicker (change)="onImgPicked($event)">
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="postForm.invalid"
        matTooltip="Submit a Post">
        {{this.editMode ? 'Update Post' : 'Save Post'}}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
