<mat-card style="background-color: #E8EAF6">
  <mat-card-header fxLayout fxLayoutAlign="center">
    <mat-card-title>
      <span>Here All Posts <span *ngIf="!authService.currentUser"><strong>Your are not logged In, you can't modify or add posts!</strong></span></span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="posts-border">
    <mat-accordion *ngIf="posts.length>0&&!isLoading; else noPosts">
      <mat-expansion-panel style="background-color: #E3F2FD"
                           *ngFor="let post of posts">
        <mat-expansion-panel-header>
          <p>{{post.title}}</p>
          <mat-chip-list>
            <mat-chip
              style="margin: 1rem"
              matTooltip="Last update">
              {{post.updatedAt|date:'medium'}}</mat-chip>
          </mat-chip-list>
        </mat-expansion-panel-header>
        <mat-card tabindex="0">
          <mat-card-content>
            <mat-card
              style="margin-bottom: 10px;max-width: 250px">
              <img
                mat-card-image
                [src]="post.imagePath"
                [alt]="post.title">
              <mat-card-actions>
                <button style="color: red" mat-icon-button matTooltip="Delete image" *ngIf="authService.currentUser">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button *ngIf="authService.currentUser">
                  <mat-icon>share</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>

            <mat-card style="background-color: #E3F2FD">
              <mat-card-content>
                <p>{{post.content}}</p>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
          <mat-card-actions *ngIf="authService.currentUser">
            <mat-action-row>
              <button
                mat-icon-button
                color="primary"
                matTooltip="Edit post"
                [routerLink]="['/edit',post.id]"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                matTooltip="Delete post"
                (click)="onDelPost(post.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-action-row>
          </mat-card-actions>
          <mat-card-footer>

          </mat-card-footer>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card class="matPaginator">
      <mat-card-actions>
        <mat-paginator
          [length]="totalPosts"
          [pageSize]="postsPerPage"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onChangePage($event)"
          style="background-color: #E3F2FD"
        ></mat-paginator>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

  <ng-template #noPosts>
    <mat-card>
      <mat-card-content fxLayout fxLayoutAlign="center">
        <p class="mat-h2">No posts added yet !</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>
