:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.matPaginator {
  margin-top: 5px;
  background-color: #E3F2FD;
}

.posts-border {
  border: 3px solid #C5CAE9;
  border-radius: 5px;
  padding: 18px 25px 25px 20px;
}
